.accordion > li:hover > a,
.accordion > li:target > a,
.accordion > li > a.active {
    color: #3e5706;
    text-shadow: 1px 1px 1px rgba(255,255,255, .2);
 
    /*background: url(../img/active.png) repeat-x;*/
    background: #a5cd4e;
    background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
}


.accordion > li:hover > a span,
.accordion > li:target > a span,
.accordion > li > a.active span {
    color: #fdfdfd;
    text-shadow: 0px 1px 0px rgba(0,0,0, .35);
    background: #3e5706;
}


.accordion li.files > a:before { background-position: 0px 0px; }
.accordion li.files:hover > a:before,
.accordion li.files:target > a:before,
.accordion li.files > a.active:before { background-position: 0px -24px; }
 
.accordion li.mail > a:before { background-position: -24px 0px; }
.accordion li.mail:hover > a:before,
.accordion li.mail:target > a:before,
.accordion li.mail > a.active:before { background-position: -24px -24px; }
 
.accordion li.cloud > a:before { background-position: -48px 0px; }
.accordion li.cloud:hover > a:before,
.accordion li.cloud:target > a:before,
.accordion li.cloud > a.active:before { background-position: -48px -24px; }
 
.accordion li.sign > a:before { background-position: -72px 0px; }
.accordion li.sign:hover > a:before,
.accordion li.sign:target > a:before,
.accordion li.sign > a.active:before { background-position: -72px -24px; }


.accordion li > .sub-menu {
    display: none;
}
 
.accordion li:target > .sub-menu {
    display: block;
}








body{ 
font-family: verdana, arial; 
background-color: #F2F2F2; 
}

#general{ 
margin-top:20px; 
background-color: #FFF; 
border-radius:10px; 
padding: 5px; 
}

#encabezado{ 
height: 90px; 
padding: 5px;
background-color: #000;
}

#logo{ 
color:#FF4000; 
text-shadow: 0.1em 0.1em 0.05em #333; 
}

#menu{ 
margin-top:20px; 
float:right; 
}

#izquierda{ 
color:#fff; 
min-height: 300px; 
background: #fff url(../img/bghead.PNG) repeat-x; 
border-radius:5px; 
border: 1px solid #848484; 
}

#izquierda h3{ 
text-align: center; 
color:#fff; 
}

#derecha h3{ 
text-align: center; 
color:#fff; 
}

#derecha{ 
color:#000; 
min-height: 300px; 
background: #fff url(../img/bghead.PNG) repeat-x; 
border-radius:5px; 
border: 1px solid #848484; 
padding: 10px 
}

/*dd #Enviar-element {
    position: absolute;
    width: 60px;
}

dt #Limpiar-element{
    width: 60px;
}

dt #Limpiar-element {
    position: absolute;
    width: 60px;
}*/



#footer{ 
background: #0489B1; 
height: 50px; 
text-align: center; 
margin-top: 10px; 
color:#fff; 
}