/* 
    Document   : maquetación
    Created on : 04-05-2013, 03:59:19 AM
    Author     : genaro
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


#cabecera{
        background-color:#E5BC7A;
        height:20%;
}
#pie{
        height:20%;
        background-color:#D3D1C1;
        clear:both;
        width: 1243px;
        position: absolute;
        display: block;
}

#contenedor-ayudante{
        position: absolute;
        display: block;
}

#ayudante{
    margin-top: 20px;
}